:root {
  --primary-color: #ACF315;
  --dark-primary-color: #74a014;
  --light-primary-color: #adf31593;
  --font-1: 'Oswald', sans-serif;;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: var(--font-1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  background-color: var(--primary-color);
}
.header__logo {
  padding: 0 2rem;
  text-decoration: none;
  font-family: var(--font-1);
  font-weight: bold;
  font-size: 3rem;
  border: .5rem solid white;
  color: white;
}

.nav__item {
  margin-right: 3rem;
  padding: .5rem 1rem;
  text-decoration: none;
  font-family: var(--font-1);
  font-size: 2rem;
  color: white;
}
.nav__item:hover {
  background-color: white;
  color: var(--primary-color);
  border-radius: 1rem;
}
.nav__log-in {
  margin-right: 3rem;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: white;
  font-family: var(--font-1);
  font-size: 2rem;
  color: var(--primary-color);
}
.nav__log-in:hover {
  background-color: var(--dark-primary-color);
  color: white;
}

.announcements {
  padding: 3rem;
}
.announcements__title {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: var(--primary-color);
}
.announcements-table {
  margin: 3rem auto 0;
  width: 80%;
  border-spacing: 0;
}
.announcements-table__head-item {
  padding: 1rem 0;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  color: white;
  background-color: var(--primary-color);
}
.announcements-table__body-row:hover {
  background-color: var(--light-primary-color);
}
.announcements-table__body-item {
  padding: 1.5rem 0;
  font-size: 2rem;
  text-align: center;
}

.link {
  color: var(--dark-primary-color);
}

.footer {
  padding: 2rem;
  background-color: black;
  text-align: center;
}
.footer__copyright {
  font-family: var(--font-1);
  font-size: 2rem;
  color: white;
}